<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
</head>
<body>
<form th:action="@{/user/edit-password}" method="post" enctype="multipart/form-data">
  <div>
    <input type="text" name="id" th:value="${user.id}" readonly/>
  </div>
  <div>
    <input type="password" name="password" th:value="${user.password}"/>
  </div>
  <div>
    <button type="submit">Edit Password</button>
  </div>
</form>
</body>
</html>